.DS_Store
.Rhistory
.RData
.cache/
.Rproj.user/**
tab.tex

*.md

no_ad_blocker.html

# Don't track these types of directories...
*/*_files

# 2012-Honda-Civic
2012-Honda/.20*
2012-Honda-Civic/2012-Honda-Civic.html

AirPods/Use-AirPods-with-Apple-TV.html

# AccessToSqlite directory
AccessToSqlite/.DS_Store
AccessToSqlite/AccessToSqlite.html
AccessToSqlite/AccessToSqlite_fi*
AccessToSqlite/._A*

# Apple Watch
AppleWatch/AppleWatch.html

# automater directory
automater/.DS_Store
automater/automater.md
automater/automater.html
automater/figure/
R/R-tips_fi*


# AZtec directory
AZtec/.DS_Store
AZtec/AZtec.md
AZtec/AZtec.html
AZtec/figure/

# BadgerFilm
BadgerFilm/*.html

# bibtex directory
bibtex/.DS_Store
bibtex/*.md
bibtex/*.html
bibtex/figure/


# Bluetooth
Bluetooth/*.html
Bluetooth/*.pdf

# Books
Books/*.html

# C++11 directory
C++11/.DS_Store
C++11/C++11-Tips.md
C++11/C++11-Tips.html
C++11/figure/

# carbonFilmThickness
carbonFilmThickness/.DS_Store
carbonFilmThickness/carbonFilmThickness.md
carbonFilmThickness/carbonFilmThickness.html
carbonFilmThickness/figure/

# chemStructures
chemStructures/*.html
chemstructures/*.pdf

# chntpw directory
chntpw/.DS_Store
chntpw/chntpw.md
chntpw/chntpw.html
chntpw/figure/

# color directory
color/.DS_Store
color/color.md
color/color.html
color/figure/

# complex-kratios
complex-kratios/*.html

# ConductiveEpoxy directory
ConductiveEpoxy/.DS_Store
ConductiveEpoxy/ConductiveEpoxy.md
ConductiveEpoxy/ConductiveEpoxy.html
ConductiveEpoxy/figure/

DataScience-linux64/*.html

# Debian directory
Debian/.DS_Store
Debian/Debian.md
Debian/Debian.html
Debian/figure/

# Denton directory
Denton/.DS_Store
Denton/Denton.md
Denton/Denton.html
Denton/figure/

# DiffractionLimit tips directory
DiffractionLimit/.DS_Store
DiffractionLimit/DiffractionLimit.md
DiffractionLimit/DiffractionLimit.html
DiffractionLimit/figure/

# dtsa2 tips directory
dtsa2/.DS_Store
dtsa2/dtsa2.md
dtsa2/dtsa2.html

dtsa2-scripting/.DS_Store
dtsa2-scripting/*.md
dtsa2-scripting/*.html

# earth-sci
earth-sci/earth-sci.html
earth-sci/earth-sci.pdf

# EDAX tips directory
EDAX/.DS_Store
EDAX/EDAX.md
EDAX/EDAX.html
EDAX/figure/

# epma-matric-corr dir
epma-matrix-corr/.DS_Store
epma-matrix-corr/*.md
epma-matrix-corr/*.html
epma-matrix-corr/figure/

font-test/*.html

# Excel tips directory
Excel/.DS_Store
Excel/Excel.md
Excel/Excel.html
Excel/figure/

# Exclesior Pass
Excelsior-Pass/Excelsior-Pass.html
Excelsior-Pass/Excelsior-Pass.pdf

# Feynman_technique tips directory
Feynman_technique/.DS_Store
Feynman_technique/Feynman_technique.md
Feynman_technique/Feynman_technique.html
Feynman_technique/figure/

Feynman*/*.html

# fiji-plugin-development dir
fiji-plugin-development/.DS_Store
fiji-plugin-development/*.md
fiji-plugin-development/*.html
fiji-plugin-development/figure/

fitness/*.html

# french-press-instructions directory
french-press-instructions/french-press-instructions.html
french-press-instructions/french-press-instructions.pdf


# gas
gas/*.html
gas/*.pdf

# Garmin
Garmin-55/*.pdf
Garmin-55/*.html

# generator
generator/generator.html

# gfortran 
gfortran/gfortran.html

# ggplot2_workshop
ggplot2_workshop/*.html

# ggplot2figure tips directory
ggplot2figure/.DS_Store
ggplot2figure/ggplot2-figure.md
ggplot2figure/ggplot2-figure.html
ggplot2figure/figure/

# ggplot2Intro tips directory
ggplot2Intro/.DS_Store
ggplot2Intro/ggplot2Intro.md
ggplot2Intro/ggplot2Intro.html
ggplot2Intro/figure/
ggplot2Intro/ggplot2Intro_fi*
ggplot2Intro/pdf/*.pdf


# ggplotUseCases directory
ggplot2Examples/*.html
ggplot2Examples/.DS_Store
ggplot2Examples/ggplot2Intro.md
ggplot2Examples/ggplot2Intro.html
ggplot2Examples/dat/*.png
ggplot2Examples/dat/png/*.png
ggplot2Examples/dat/pdf/*.pdf
ggplot2Examples/figure/
ggplot2Examples/dat/csv/PhiRhoZ-final.csv
ggplot2Examples/dat/pdf/c-ctd-si-series-plt-5kV.pdf
ggplot2Examples/.DS_Store
ggplot2Examples/ggplot2Examples_fi*

# ggvisIntro tips directory
ggvisIntro/.DS_Store
ggvisIntro/ggvisIntro.md
ggvisIntro/ggvisIntro.html
ggvisIntro/figure/

# git tips directory
git/.DS_Store
git/git-tips.md
git/git-tips.html
git/figure/
git/github-update.html

# GIFS
gifs/gifs.html

# gnuplot directory
gnuplot/.DS_Store
gnuplot/gnuplot.md
gnuplot/gnuplot.html
gnuplot/figure/
gnuplot/eg1.*
gnuplot/*.html

# hacklev directory
hacklev/.DS_Store
hacklev/hacklev.md
hacklev/hacklev.html
hacklev/figure/

hearing-aids/.DS_Store
hearing-aids/*.html

here/here.html

# homebrew directory
homebrew/.DS_Store
homebrew/homebrew.md
homebrew/homebrew.html
homebrew/figure/

# html directory
html/*.html

# hyperspy directory
hyperspy/.DS_Store
hyperspy/hyperspy.md
hyperspy/hyperspy.html
hyperspy/figure/

# Image-J tips directory
ImageJ/.DS_Store
ImageJ/ImageJ.html
ImageJ/train*.html
ImageJ/figure/
ImageJ/trainable_weka_segmentation.html
ImageJ/basic_segmentation.html
ImageJ/basic_scripting.html
ImageJ/anaStageMicrometer.html
ImageJ/imagej_groovy.html
ImageJ/ana_model_sphere.html
ImageJ/jython_scripting.html
ImageJ/ana_generated_spheres.html
ImageJ/Lognormal_distribution.html
ImageJ/*.html

iMessage/*.html


# Inkscape directory
inkscape/.DS_Store
inkscape/inkscape.md
inkscape/inkscape.html
inkscape/figure/

# Instant Reality
InstantPlayer/*.html

# iOS tips directory
iOS/.DS_Store
iOS/iOS.md
iOS/iOS.html
iOS/figure/

JabRef/*.html

jekyll-github/*.html

java/java.html

# json tips directory
json/.DS_Store
json/json.md
json/json.html
json/figure/

latex-eqns-for-rmarkdown/*.html

leadership/Solitude-and-Leadership-William-Deresiewicz.html

# legacy directory
legacy/.DS_Store
legacy/Legacy.md
legacy/Legacy.html
legacy/figure/

# Logos directory
Logos/.DS_Store
Logos/Logos.md
Logos/Logos.html

Low-Carb-Diet/.DS_Store
Low-Carb-Diet/*.md
Low-Carb-Diet/*.html

Lubuntu/*.html

# mac directory
mac/.DS_Store
mac/mac.md
mac/mac.html
mac/figure/

# mac-for-data-science directory
mac-for-data-science/.DS_Store
mac-for-data-science/mac-for-data-science.md
mac-for-data-science/mac-for-data-science.html
mac-for-data-science/figure/

# micro directory
micro/.DS_Store
micro/micro.md
micro/micro.html
micro/figure/

# micro-sample-prep directory
micro-sample-prep/.DS_Store
micro-sample-prep/micro-sample-prep.md
micro-sample-prep/micro-sample-prep.html
micro-sample-prep/figure/

midb/*.html

Mobile-Gas-Pumps/*.html

# monteCarlo directory
monteCarlo/.DS_Store
monteCarlo/monteCarlo.md
monteCarlo/monteCarlo.html
monteCarlo/figure/

# msys dir
msys/.DS_Store
msys/msys.md
msys/msys.html
msys/figure/

# msOffice directory
msOffice/.DS_Store
msOffice/*.md
msOffice/*.html
msOffice/figure/

# mysql directory
mysql/.DS_Store
mysql/mysql.md
mysql/mysql.html
mysql/figure/

# Northgate
Northgate/Northgate.md
Northgate/Northgate.html

# osPkgs directory
osPkgs/.DS_Store
osPkgs/osPkgs.md
osPkgs/osPkgs.html
osPkgs/figure/

Octave/*.html
Octave/f
Octave/dat/mydata.dat

OnePassword/*.html

Mobil-Gas-Pumps/*.html

# oracle Virtual Box
Oracle-Virtual-Box/*.html

# pandoc directory
pandoc/.DS_Store
pandoc/pandoc.md
pandoc/pandoc.html
pandoc/figure/

# penepma directory
penepma/.DS_Store
penepma/penepma.md
penepma/penepma.html
penepma/figure/

phi-rho-z/*.html

# plagiarism directory
plagiarism/.DS_Store
plagiarism/plagiarism.md
plagiarism/plagiarism.html
plagiarism/figure/

# pool
pool/pool.html

# portableMakefiles directory
portableMakefiles/.DS_Store
portableMakefiles/portableMakefiles.md
portableMakefiles/portableMakefiles.html
portableMakefiles/figure/

# powerpoint
ppt/ppt.html

# prepForEDS dir
prepForEDS/.DS_Store
prepForEDS/prepForEDS.md
prepForEDS/prepForEDS.html
prepForEDS/figure

# probeForEPMA dir
probeForEPMA/.DS_Store
probeForEPMA/probeForEPMA.md
probeForEPMA/probeForEPMA.html
probeForEPMA/figure

# python directory
python/.DS_Store
python/python.md
python/python.html
python/figure/

quotes/.DS_Store
quotes/*.html

qqplotr/*.html
qqplotr/*.pdf

Readme.html
Readme.md

# R tips directory
R/.DS_Store
R/R-tips.md
R/R-tips.html
R/figure/
R/*.pdf
R/R-tips_fi*

# R-Anova directory
R-Anova/.DS_Store
R-Anova/figure/
R-Anova/R-Anova.md
R-Anova/R-Anova.html

# R-bar-plots directory
R-bar-plots/.DS_Store
R-bar-plots/figure/
R-bar-plots/R-bar-plots.md
R-bar-plots/R-bar-plots.html

# R-boxplots directory
R-boxplots/.DS_Store
R-boxplots/figure/
R-boxplots/R-boxplots.md
R-boxplots/R-boxplots.html


R-character-encoding.html

R-data-cleaning/*.html

R-data-pipeline/*.html

# R-Excel directory
R-Excel/.DS_Store
R-Excel/figure/
R-Excel/R-Excel.md
R-Excel/R-Excel.html

# R-foreach directory
R-foreach/.DS_Store
R-foreach/figure/
R-foreach/R-foreach.md
R-foreach/R-foreach.html

# R-GeoSpatial directory
R-GeoSpatial/.DS_Store
R-GeoSpatial/figure/
R-GeoSpatial/R-GeoSpatial.md
R-GeoSpatial/*.html
R-GeoSpatial/*.htm
R-GeoSpatial/Legend*.png

R-gt/*.html

R-knitrBootstrap/*.html

# R-loess directory
R-lm/.DS_Store
R-lm/figure/*.*
R-lm/R-lm.md
R-lm/*.html
R-lm/*.htm

# R-loess directory
R-loess/.DS_Store
R-loess/figure/
R-loess/R-loess.md
R-loess/*.html
R-loess/*.htm
R-loess/al-on-si-series-predict.pdf
R-loess/Legend*.png

# R-markdown directory
R-markdown/.DS_Store
R-markdown/figure/
R-markdown/R-markdown.md
R-markdown/*.html
R-markdown/*.htm
R-markdown/R-markdown_files/*

# R-markdown directory
R-matrix-algebra/.DS_Store
R-matrix-algebra/figure/
R-matrix-algebra/R-matrix-algebra.md
R-matrix-algebra/*.html
R-matrix-algebra/*.htm

# R-markdown directory
R-memes/.DS_Store
R-memes/figure/
R-meme/*.md
R-memes/*.html
R-memes/*.htm

# R-model-predict directory
R-model-predict/.DS_Store
R-model-predict/figure/
R-model-predict/R-model-predict.md
R-model-predict/*.html
R-model-predict/*.htm


# R-packages directory
R-packages/.DS_Store
R-packages/R-packages.md
R-packages/*.html
R-packages/*.htm
R-packages/Legend*.png


## R-scrape-pdf directory
R-scrape-pdf/.DS_Store
R-scrape-pdf/*.md
R-scrape-pdf/*.htmln directory
R-scrape-pdf/.DS_Store
R-scrape-pdf/*.md
R-scrape-pdf/*.html


# R-sys-admin directory
R-sys-admin/.DS_Store
R-sys-admin/*.md
R-sys-admin/*.html

ReproducibleResearch/*.html

# research directory
research/.DS_Store
research/figure/
research/*.md
research/*.html
research/*.htm

# sage dir
sage/*.html
sage/*.md
sage/.DS_Store

# screencast directory
screencast/.DS_Store
screencast/*.html

# Salabim directory
Salabim/.DS_Store
Salabim/DE*
Salabim/Salabim-graphics.md
Salabim/Salabim-graphics.html
Salabim/figure/
Salabim/wc5/

# SEM directory
SEM/.DS_Store
SEM/SEM.md
SEM/SEM.html
SEM/figure/

# shell directory
shell/.DS_Store
shell/shell-tips.md
shell/shell-tips.html
shell/figure/

# Sirion directory
Sirion/.DS_Store
Sirion/Sirion.md
Sirion/Sirion.html
Sirion/figure/

# skills directory
skills/.DS_Store
skills/skills.md
skills/skills.html
skills/figure/

# skimage directory
skimage/.DS_Store
skimage/skimage.md
skimage/skimage.html
skimage/figure/

# Slidify directory
Slidify/.DS_Store
Slidify/Slidify.md
Slidify/Slidify.html
Slidify/figure/

# ST3 directory
ST4/.DS_Store
ST4/ST4.md
ST4/ST4.html

Stratagem/Stratagem.html

# Sweave directory
Sweave/.DS_Store
Sweave/Sweave.md
Sweave/Sweave.html
Sweave/figure/

# scripts dir
scripts/.RData

SSH-Keys-MacOS/*.html

software-dev/*.html
# SQL dir
SQL/.DS_Store
SQL/SQL.md
SQL/SQL.html
SQL/figure/

ST4/ST4.md
ST4/ST4.html

# testMakefileBeamerSlideHandouts dir
testMakefileBeamerSlideHandouts/.DS_Store
testMakefileBeamerSlideHandouts/*.pdf

# tex tips directory
TEM/.DS_Store
TEM/TEM.md
TEM/TEM.html
TEM/figure/

# tex tips directory
tex/.DS_Store
tex/tex-tips.md
tex/tex-tips.html
tex/figure/

tex/TinyTex-info.html
tex/TinyTex-info.pdf

# tidyData directory
tidyData/*.html

# tidyModels directory
tidyModels/*.html

# tv-bluetooth directory
TV/.DS_Store
TV/TV.md
TV/TV.html
TV/figure/

# ubuntu tips directory
ubuntu/.DS_Store
ubuntu/ubuntu.md
ubuntu/ubuntu.html
ubuntu/figure/

# vacuum tips directory
vacuum/.DS_Store
vacuum/vacuum.md
vacuum/vacuum.html
vacuum/figure/

videos/videos.html

# tex tips directory
VS2010/.DS_Store
VS2010/VS2010.md
VS2010/VS2010.html
VS2010/figure/

# win tips directory
win/.DS_Store
win/win.md
win/win.html
win/figure/

winCasino/winCasino.html

WinXRay/*.html



# workflow tips directory
workflow/.DS_Store
workflow/workflow.md
workflow/workflow.html
workflow/figure/

# write_usefully tips directory
write_usefully/.DS_Store
write_usefully/write_usefully.md
write_usefully/write_usefully.html

Writing-Well/Writing-Well.html

wxMaxima/*.html

X-Ray-EDS-Issues/*.html
.Rproj.user

zoom/Zoom.html
