.DS_Store
.Rhistory
.cache/
.Rproj.user
tab.tex
Readme.md
*.html

# C++11 directory
C++11/.DS_Store
C++11/C++11-Tips.md
C++11/C++11-Tips.html
C++11/figure/

# color directory
color/.DS_Store
color/color.md
color/color.html
color/figure/

# DiffractionLimit tips directory
DiffractionLimit/.DS_Store
DiffractionLimit/DiffractionLimit.md
DiffractionLimit/DiffractionLimit.html
DiffractionLimit/figure/

# EDAX tips directory
EDAX/.DS_Store
EDAX/EDAX.md
EDAX/EDAX.html
EDAX/figure/

# git tips directory
git/.DS_Store
git/git-tips.md
git/git-tips.html
git/figure/

# gnuplot directory
gnuplot/.DS_Store
gnuplot/gnuplot.md
gnuplot/gnuplot.html
gnuplot/figure/

# Image-J tips directory
ImageJ/.DS_Store
ImageJ/ImageJ.md
ImageJ/ImageJ.html
ImageJ/figure/

# legacy directory
legacy/.DS_Store
legacy/Legacy.md
legacy/Legacy.html
legacy/figure/

# mac directory
mac/.DS_Store
mac/mac.md
mac/mac.html
mac/figure/

# micro directory
micro/.DS_Store
micro/micro.md
micro/micro.html
micro/figure/

# mysql directory
mysql/.DS_Store
mysql/mysql.md
mysql/mysql.html
mysql/figure/

# python directory
python/.DS_Store
python/python.md
python/python.html
python/figure/

# R tips directory
R/.DS_Store
R/R-tips.md
R/R-tips.html
R/figure/
R/*.pdf

# R-Anova directory
R-Anova/.DS_Store
R-Anova/figure/
R-Anova/R-Anova.md
R-Anova/R-Anova.html

# R-bar-plots directory
R-bar-plots/.DS_Store
R-bar-plots/figure/
R-bar-plots/R-bar-plots.md
R-bar-plots/R-bar-plots.html

# R-Anova directory
R-foreach/.DS_Store
R-foreach/figure/
R-foreach/R-foreach.md
R-foreach/R-foreach.html

# Salabim directory
Salabim/.DS_Store
Salabim/DE*
Salabim/Salabim-graphics.md
Salabim/Salabim-graphics.html
Salabim/figure/
Salabim/wc5/

# Slidify directory
Slidify/.DS_Store
Slidify/Slidify.md
Slidify/Slidify.html
Slidify/figure/

# Sweave directory
Sweave/.DS_Store
Sweave/Sweave.md
Sweave/Sweave.html
Sweave/figure/

# scripts dir
scripts/.RData

# tex tips directory
tex/.DS_Store
tex/tex-tips.md
tex/tex-tips.html
tex/figure/

# win tips directory
win/.DS_Store
win/win.md
win/win.html
win/figure/
